/* eliminamos culaquier borde o espacio que exista por defecto */

/* Se usaran colores oscuros de fondo y letras color claro para crear resalte y buena UX/UI */
body {
  /* Margenes */
  margin: 0;
  padding: 0;
  /* Color de fondo */
  background-color: rgb(61, 61, 61);
  /* Solo 1 imagen */
  background-repeat: no-repeat;
  /* Movil dependiendo del tamaño de pantalla */
  background-attachment: fixed;
  /* Cubre la totalidad de la pantalla */
  background-size: cover;
  /* Funte por defecto */
  font-family: "Montserrat", sans-serif;
}
/* Alineacion del header */
.header a {
  float: none;
  display: block;
  text-align: left;
}

/* * para pantallas que midan mas de 1200px de ancho.  */
@media only screen and (min-width: 1200px) {
  body {
    /* Se carga la imagen de fondo de acuerdo al tamaño de pantalla*/
    background-image: url("../assets/Fondo3.jpeg");
  }

  /* Se oculta el menu desplegable para pantallas grandes */
  .header-small{
    display: none;
  }

  /* Se agrega padding, o espacios a la barra de navegacion*/
  .header {
    overflow: hidden;
    padding: 2px 2px;
  }

  /* Estilo de header*/
  .header a {
    /* Flotante hacia la izquierda */
    float: left;
    color: rgb(255, 255, 255);
    color: rgb(159, 159, 159);
    /* Bordes */
    padding: 8px;
    margin: 0 12px;
    /* Se eliminan los estilos por defecto que tienen los enlaces */
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  /* Estilos del logo*/
  .header a.logo {
    padding: 6px;
    margin: 0;
    margin: 1% 2%;
    padding: 0;
  }

  /* Cuando se pasa el mouse por encima*/
  .header a:hover {
    /* Se vuelve blanco */
    color: rgb(255, 255, 255);
    /* Se agrega una sombra suave */
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(255, 255, 255, 0.738),
      0 0 0.2em rgba(255, 255, 255, 0.738);
  }

  /*  cambio de color cuando se le de click al menu para que pase a la ventana correspondiente*/
  .header a.active {
    color: rgb(0, 183, 255);
  }

  /* Envia texto a la derecha */
  .header-right {
    float: right;
    margin: 2% 3%;
  }

  /* Se pone el menu hacia abajo cuando esta en pantallas pequeñas */
  /* @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  } */

  /* Se agregan estilos al index*/
  .image-index {
    text-align: center;
    border-radius: 70px;
    width: 70%;
    margin: 0px 15% 5% 15%;
  }

  .main-index {
    color: rgba(240, 248, 255, 0.798);
    display: inline-block;
    width: 90%;
    margin: 0% 5%;
  }

  h1 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 4%;
    font-size: 40px;
  }

  .text-index {
    margin: 0px 10%;
    font-size: 20px;
  }

  /* Estilos a los personajes */

  .image-character {
    float: left;
    /* Para que se vean imagenes circulares */
    border-radius: 50%;
    width: 300px;
    margin: 0px 5% 2% 0px;
  }

  .main-character {
    color: rgba(240, 248, 255, 0.798);
    display: inline-block;
    width: 60%;
    margin: 0% 20%;
  }

  .text-index {
    margin: 0px 10%;
    font-size: 20px;
  }

  ul {
    color: aliceblue;
    width: 60%;
    margin: 0% 20%;
    text-align: left;
    /* text-justify: inter-cluster; */
  }

  /* Decoracion de los links y textos */

  ul p {
    color: rgba(186, 186, 186, 0.781);
  }

  p a {
    color: aqua;
    text-decoration: none;
  }

  li a {
    color: aqua;
    text-decoration: none;
  }
}

/* para pantallas que midan entre 800px y 1200px de ancho */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  body {
    /* Se carga la imagen de fondo de acuerdo al tamaño de pantalla*/
    background-image: url("../assets/back.png");
  }

 /* Estilos para el menu desplegable en pantallas medianas y pequeñas */
 .header-small{
  display: flex;
}

.header-small ul{
  display: none;
}

/* Cuando se le da click al menu para que despliegue */
.header-small input:checked  ~ ul{
  display:block;
}

.header-small input {
  display: none;
}

.header-small label {
  /* Margenes superior e izquierdo */
  margin: 2% 0 0 2%;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid rgb(222, 222, 222);
  background: grey;
  /* Borde redondeado dek boton */
  border-radius: 5px;
  /* dimensiones */
  width: 30px;
  height: 30px;
  line-height: 30px;
  /* alineacion */
  text-align: center;
  user-select: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
.header-small label:hover{
  background: rgb(202, 202, 202);
}

/* Estilo del boton cuando el menú está expandido*/
.header-small input:checked ~ label {
  background: rgb(255, 255, 255);
}
/* Estilo del ul */
.header-small ul{
  margin-top:2%;
  padding: 0;
  width: 200px;
  /* Para que quede junto al boton */
  margin-left: 0;
}

/* Estilos de cada renglon de nuestro menu */
.header-small li {
  display: block;
  background: rgba(211, 211, 211, 0.162);
  margin: 0;
  padding: 10px;
  list-style: none;
  text-align: center;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
.header-small li:hover {
  filter: brightness(150%);
  background: rgba(211, 211, 211, 0.2);

}

/* Pagina seleccionada de un color diferente para mejor legibilidad */
.header-small a.active {
  color: rgb(0, 183, 255);
} 

.header-small a {
  color: rgb(209, 209, 209);
} 

.header{
  display: none;
}

/* Se oculta la barra de navegacion de pantallas grandes debido a que ya usamos la configuracion para pantallas pequeñas */
.header {
  overflow: hidden;
  padding: 2px 2px;
}

  /* Se agrega padding, o espacios a la barra de navegacion*/
  .header {
    overflow: hidden;
    padding: 2px 2px;
  }

  /* Estilo de header*/
  .header a {
    /* Flotante hacia la izquierda */
    float: left;
    color: rgb(255, 255, 255);
    color: rgb(159, 159, 159);
    /* Bordes */
    padding: 8px;
    margin: 0 12px;
    /* Se eliminan los estilos por defecto que tienen los enlaces */
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  /* Estilos del logo*/
  .header a.logo {
    padding: 6px;
    margin: 0;
    margin: 1% 2%;
    padding: 0;
  }

  /* Cuando se pasa el mouse por encima*/
  .header a:hover {
    /* Se vuelve blanco */
    color: rgb(255, 255, 255);
    /* Se agrega una sombra suave */
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(255, 255, 255, 0.738),
      0 0 0.2em rgba(255, 255, 255, 0.738);
  }

  /*  cambio de color cuando se le de click al menu para que pase a la ventana correspondiente*/
  .header a.active {
    color: rgb(0, 183, 255);
  }

  /* Envia texto a la derecha */
  .header-right {
    float: right;
    margin: 2% 3%;
  }

  /* Se pone el menu hacia abajo cuando esta en pantallas pequeñas */
  /* @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  } */

  /* Se agregan estilos al index*/
  .image-index {
    text-align: center;
    border-radius: 70px;
    width: 70%;
    margin: 0px 15% 5% 15%;
  }

  .main-index {
    color: rgba(240, 248, 255, 0.798);
    display: inline-block;
    width: 90%;
    margin: 0% 5%;
  }

  h1 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 4%;
    font-size: 40px;
  }

  .text-index {
    margin: 0px 10%;
    font-size: 20px;
  }

  /* Estilos a los personajes */

  .image-character {
    float: left;
    /* Para que se vean imagenes circulares */
    border-radius: 50%;
    width: 300px;
    margin: 0px 5% 2% 0px;
  }

  .main-character {
    color: rgba(240, 248, 255, 0.798);
    display: inline-block;
    width: 60%;
    margin: 0% 20%;
  }

  .text-index {
    margin: 0px 10%;
    font-size: 20px;
  }

  ul {
    color: aliceblue;
    width: 60%;
    margin: 0% 20%;
    text-align: left;
    /* text-justify: inter-cluster; */
  }

  /* Decoracion de los links y textos */

  ul p {
    color: rgba(186, 186, 186, 0.781);
  }

  p a {
    color: aqua;
    text-decoration: none;
  }

  li a {
    color: aqua;
    text-decoration: none;
  }
}

/* para pantallas que midan menos de 800px */
@media only screen and (max-width: 800px) {
  body {
    /* Se carga la imagen de fondo de acuerdo al tamaño de pantalla*/
    background-image: url("../assets/Fondo2.jpeg");
  }

  /* Estilos para el menu desplegable en pantallas medianas y pequeñas */
  .header-small{
    display: flex;
  }

  .header-small ul{
    display: none;
  }

  /* Cuando se le da click al menu para que despliegue */
  .header-small input:checked  ~ ul{
    display:block;
  }
  
  .header-small input {
    display: none;
  }
  
  .header-small label {
    /* Margenes superior e izquierdo */
    margin: 2% 0 0 2%;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid rgb(222, 222, 222);
    background: grey;
    /* Borde redondeado dek boton */
    border-radius: 5px;
    /* dimensiones */
    width: 30px;
    height: 30px;
    line-height: 30px;
    /* alineacion */
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  .header-small label:hover{
    background: rgb(202, 202, 202);
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  .header-small input:checked ~ label {
    background: rgb(255, 255, 255);
  }
  /* Estilo del ul */
  .header-small ul{
    margin-top:2%;
    padding: 0;
    width: 200px;
    /* Para que quede junto al boton */
    margin-left: 0;
  }
  
  /* Estilos de cada renglon de nuestro menu */
  .header-small li {
    display: block;
    background: rgba(211, 211, 211, 0.162);
    margin: 0;
    padding: 10px;
    list-style: none;
    text-align: center;

  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  .header-small li:hover {
    filter: brightness(150%);
    background: rgba(211, 211, 211, 0.2);

  }

  /* Pagina seleccionada de un color diferente para mejor legibilidad */
  .header-small a.active {
    color: rgb(0, 183, 255);
  } 

  .header-small a {
    color: rgb(209, 209, 209);
  } 

  .header{
    display: none;
  }

  /* Se oculta la barra de navegacion de pantallas grandes debido a que ya usamos la configuracion para pantallas pequeñas */
  .header {
    overflow: hidden;
    padding: 2px 2px;
  }

  /* Se agrega padding, o espacios a la barra de navegacion*/
  .header {
    overflow: hidden;
    padding: 2px 2px;
  }

  /* Estilo de header*/
  .header a {
    /* Flotante hacia la izquierda */
    float: left;
    color: rgb(255, 255, 255);
    color: rgb(159, 159, 159);
    /* Bordes */
    padding: 8px;
    margin: 0 12px;
    /* Se eliminan los estilos por defecto que tienen los enlaces */
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  /* Estilos del logo*/
  .header a.logo {
    padding: 6px;
    margin: 0;
    margin: 1% 2%;
    padding: 0;
  }

  /* Cuando se pasa el mouse por encima*/
  .header a:hover {
    /* Se vuelve blanco */
    color: rgb(255, 255, 255);
    /* Se agrega una sombra suave */
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(255, 255, 255, 0.738),
      0 0 0.2em rgba(255, 255, 255, 0.738);
  }

  /*  cambio de color cuando se le de click al menu para que pase a la ventana correspondiente*/
  .header a.active {
    color: rgb(0, 183, 255);
  }

  /* Envia texto a la derecha */
  .header-right {
    float: right;
    margin: 2% 3%;
  }

  /* Se pone el menu hacia abajo cuando esta en pantallas pequeñas */
  /* @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  } */

  /* Se agregan estilos al index*/
  .image-index {
    text-align: center;
    border-radius: 70px;
    width: 70%;
    margin: 0px 15% 5% 15%;
  }

  .main-index {
    color: rgba(240, 248, 255, 0.798);
    display: inline-block;
    width: 90%;
    margin: 0% 5%;
  }

  h1 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 4%;
    font-size: 40px;
  }

  .text-index {
    margin: 0px 10%;
    font-size: 20px;
  }

  /* Estilos a los personajes */

  .image-character {
    float: left;
    /* Para que se vean imagenes circulares */
    border-radius: 50%;
    width: 300px;
    margin: 0px 5% 2% 0px;
  }

  .main-character {
    color: rgba(240, 248, 255, 0.798);
    display: inline-block;
    width: 60%;
    margin: 0% 20%;
  }

  .text-index {
    margin: 0px 10%;
    font-size: 20px;
  }

  ul {
    color: aliceblue;
    width: 60%;
    margin: 0% 20%;
    text-align: left;
    /* text-justify: inter-cluster; */
  }

  /* Decoracion de los links y textos */

  ul p {
    color: rgba(186, 186, 186, 0.781);
  }

  p a {
    color: aqua;
    text-decoration: none;
  }

  li a {
    color: aqua;
    text-decoration: none;
  }
}
